# SPDX-FileCopyrightText: 2026 Stan Grams <sjg@haxx.space>
#
# SPDX-License-Identifier: BSD-2-Clause

[submodule "docs"]
	path = docs
	url = http://github.com/sgrams/trx-rs.wiki.git
[submodule "external/ft8_lib"]
	path = external/ft8_lib
	url = ssh://git@github.com/sgrams/ft8_lib.git
